
* {
  color: #003366;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

html {
  overflow: scroll;
}

body {
  background: #FFFFFF;
  padding-top: 25px;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

/* CABECERA */  
#cabecera img {
  border: 0px;
  vertical-align: middle;
}

#logo1 {
  float: left;
}

.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


/* ENLACES */
/* Por defecto están ocultos */
#enlaces {
  overflow: hidden;
  width: 0;
  height: 0;
}

#enlaces ul {
  margin: 0;
  padding: 0;
}

#enlaces li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
}

/*BARRA DE MENU*/

#menu {
  overflow:visible; /* 18/7/2015: necesario para Mozilla Firefox */
  padding-top: 25px;
}

#menu ul {
  margin: 0;
  padding: 0;
  background-color: #003366;
  border: 6px solid #003366;
}

#menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

#menu a {
  margin: 5px;
  padding: 0;
  background-color: #003366;
  border: 3px solid #003366;
  color: #FFFFFF;
  font-size: 80%;
}

#menu a.seleccionado {
  background-color: #426B94;
}

/*MODAL*/

.btn-primary{
	background-color: #0000FF;
}

/* CONTENIDO */
#contenido {
  clear: right;
  margin: 0;
  padding: 0;

  border-left: 2px solid #003366;
  padding-top: 25px;
  margin-left: 10px;
  padding-left: 10px;
}

h1 {
  text-align: center;
}

h2, h3, h4, h5 {
  margin: 0;
  background-color: #BDCED6;
}

h2:before {
  content: "> ";
}

h3:before {
  content: ">> ";
}

h4:before {
  content: ">>> ";
}

h5:before {
  content: ">>>> ";
}

a, h1 a {
  color: #000000;
}

a:hover, h1 a:hover {
  background-color: #D8E5EA;
}

/* PIE */
#pie {
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#formulario {
	border: 2px solid #000000;
	color: red;
    padding-top: 25px;
    margin-left: 10px;
    padding-left: 10px;
}

#asteriscos {
	font-size: 22px;
	color: red;
}

#imagen {
	width: 100%;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  }
  
 blockquote {
  border: 2px solid #003366;
  background-color: #F5F5F5;
  padding: 10px;
}
hr{
	border-top: 1px solid black;
}

