
* {
  color: #003366;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

html {
  overflow: scroll;
}

body {
  background: #FFFFFF;
  padding-top: 25px;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

/* CABECERA */  
#cabecera img {
  border: 0px;
  vertical-align: middle;
}

#logo1 {
  float: left;
}

.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*ENLACE EXTERNO*/
a[href^="http://www.w3.org/"]:after, 
a[href^="https://www.w3.org/"]:after {
	content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
	margin: 0 0 0 5px;
}
/**/

/*MENU VERTICAL*/
.menu {
  margin: 0;
  padding: 0;
  width: 210px;
  background-color: #f1f1f1;
  position: fixed;
  top: 196px;
  left: 252px;
  overflow: auto;
}

.menu a {
  --border: 2px solid #ADC6FF;
  border-radius: 5px;
  background-color: #eee;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ccc;
  font-weight: bold;
}

.menu a.active {
  background-color: #380B61;
  display: list-item; 
  list-style-type: disc;
   list-style-position: inside;
  --font-size: 26px;
  font-size: 1.52em;
  color: white;
}

@media screen and (max-width: 1800px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
	left: 0px;
  }
  .menu a {float: left;}
}

@media screen and (max-width: 400px) {
  .menu a {
    text-align: center;
    float: none;
  }
}
/**/

/* ENLACES */
/* Por defecto están ocultos */

#enlaces ul {
  opacity:0;
  width: 0;
  height: 0;
  white-space: nowrap ;
  margin: 0;
  padding: 0;
}

#enlaces li {
  display: inline;
  margin-right: 10px;
}

#enlaces #listaCambiante:hover, #enlaces #listaCambiante:focus-within  {
	opacity:1;
	white-space: nowrap;
}

/*COllapse*/
.collapse{
	background-color: #E3E3E3;
	overflow-x:auto;
}

.collapseTitulo{
	background-color: #E3E3E3;
}

/* CONTENIDO */
#contenido {
  clear: right;
  width: 1000px;
  position: absolute;
  top: 180px; 
  left: 490px;
}

@media screen and (max-width: 1800px) {
  #contenido {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
	left: 0px;
  }
}

h1 {
  text-align: center;
}

h2, h3, h4, h5 {
  --color: #380B61;
  color: #0B5DC1;
  margin: 0;
  font-weight: bold;
}

#tituloCollapse{
	font-weight: normal;
	font-size: 1.92em;
}

h2 {
  font-size: 2.38em;
}

h3 {
  font-size: 2.10em;
}

h4{
  font-size: 1.92em;
}

h5{
  font-size: 1.74em;
}

h1 a {
  color: #000000;
}

a:hover, h1 a:hover {
  background-color: #D8E5EA;
}

/* PIE */
#pie {
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#imagen {
	width: 100%;
}

.contentImage{
	min-height: 70%;
	min-height: 100%;
	--device-height: 100%;
	min-width: 60%;
	max-width: 100%;
	--device-width: 100%;
	--width: 60%;
	padding: 40px;
	margin: auto;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  }
  
 blockquote {
  border: 2px solid #003366;
  background-color: #F5F5F5;
  padding: 10px;
}
hr{
	border-top: 1px solid black;
}
#tablas{
	overflow-x:auto;
}

.btn-success{
	background-color: white;
 color: black;
	border:0px;
}

.btn-danger{
 background-color: white;
 color: black;
 border:0px;
}

#seleccionadoAccesible {
  background-color: #005C00;
  color: white;
}

#seleccionadoInaccesible {
  background-color: #AD0000;
  color: white;
}

#arrow{
	font-size: 90px;
	position: relative;
	top : 20px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  --background: #014A8E;
  background: white;
  color: black;
  --color: white;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  font-size: 1.52em;
  border: 2px solid black;
  --color: white;color: black;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  --color: white;color: black;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.popup .close:hover {
  --color: white;color: black;
}
.popup .ventanita {
  max-height: 30%;
  overflow: auto;
  --color: white;color: black;
}

.close{
	--color: white;color: black;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
    color: white;
  }
  .popup{
    width: 70%;
    color: white;
  }
}

.botonVentanita {
  color: black;
  font-size: 1.2em;
  padding: 10px;
  color: #0B5DC1;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.botonVentanita:hover {
  color: black;
  background: #06D85F;
  text-decoration: none;
}

.botonVentanita2 {
  color: black;
  font-size: 1.2em;
  padding: 10px;
  color: #0B5DC1;
  border: 2px solid #FC5F5F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.botonVentanita2:hover {
  color: black;
  background: #FC5F5F;
  text-decoration: none;
}

#parrafoBueno{
	--background-color: white;background-color: #D9F4C3;
	--color: black;color:black;
	--border: 4px solid #19610F;
	padding: 10px;
    margin: 10px;
}

#parrafoMalo{
	--background-color: white;background-color:#F4AEAE;
	--color: black;color:black;
	--border: 4px solid #AB1111;
	padding: 10px;
    margin: 10px;
}

/*SOL*/

#sol{
  position: fixed;
  top: 6px;
  left: 1452px;
  overflow: auto;
}



