
* {
  color: #003366;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

html {
  overflow: scroll;
}

body {
  background: #FFFFFF;
  padding-top: 25px;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

/* CABECERA */  
#cabecera img {
  border: 0px;
  vertical-align: middle;
}

.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*ENLACE EXTERNO*/
a[href^="http://www.w3.org/"]:after, 
a[href^="https://www.w3.org/"]:after {
	content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
	margin: 0 0 0 5px;
}
/**/

/*MENU VERTICAL*/
.menu {
  margin: 0;
  padding: 0;
  width: 210px;
  background-color: #f1f1f1;
  position: fixed;
  top: 220px;
  left: 252px;
  overflow: auto;
}

.menu a {
  border-radius: 5px;
  background-color: #eee;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ccc;
  font-weight: bold;
}

.menu a.active {
  background-color: #380B61;
  display: list-item; 
  list-style-type: disc;
   list-style-position: inside;
  font-size: 1.52em;
  color: white;
}

@media screen and (max-width: 1800px) {
  .menu {
  margin: 0;
  padding: 0;
  width: 170px;
  background-color: #f1f1f1;
  position: fixed;
  top: 300px;
  left: 52px;
  overflow: auto;
  }
  .menu a {
	border-radius: 5px;
  background-color: #eee;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  }
}

@media screen and (max-width: 1600px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
	left: 0px;
  }
  .menu a {float: left;}
}


@media screen and (max-width: 400px) {
  .menu a {
    text-align: center;
    float: none;
  }
}
/**/

/* ENLACES */
/* Por defecto están ocultos */

#enlaces ul {
  opacity:0;
  width: 0;
  height: 0;
  white-space: nowrap ;
  margin: 0;
  padding: 0;
}

#enlaces li {
  display: inline;
  margin-right: 10px;
}

#enlaces #listaCambiante:hover, #enlaces #listaCambiante:focus-within  {
	opacity:1;
	white-space: nowrap;
}

/*COllapse*/
.collapse{
	background-color: #E3E3E3;
	overflow-x:auto;
}

.collapseTitulo{
	background-color: #E3E3E3;
}

/* CONTENIDO */

#contenido {
  clear: right;
  width: 1000px;
  position: absolute;
  top: 215px; 
  left: 490px;
}

@media screen and (max-width: 1800px) {
  #contenido {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
	left: 0px;
  }
}

/*TITULOS EN GENERAL*/

h1 {
  text-align: center;
}

h2, h3, h4, h5 {
  margin: 0;
  font-weight: bold;
}

#tituloCollapse{
	font-weight: normal;
	font-size: 1.92em;
}

h2 {
  color: #042249;
  font-size: 1.88em;
}

h3 {
  color: #650620;
  font-size: 1.61em;
}

h4{
  color: #AF080B;
  font-size: 1.48em;
}

h5{
  color: #953235;
  font-size: 1.40em;
}

h1 a {
  color: #000000;
}

a:hover, h1 a:hover {
  background-color: #D8E5EA;
}


/* PIE */
#pie {
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/*IMAGENES*/

#imagen {
	width: 100%;
}

.contentImage{
	min-height: 70%;
	min-height: 100%;
	min-width: 60%;
	max-width: 100%;
	padding: 40px;
	margin: auto;
}


/*LOGOS*/

#logo1{
  float: left;
  position: relative;
  left: 18px;
  bottom: 68px;
  width: 36%;
  height: 18%;
}



#logo2{
	position: relative;
	left: 680px;
	bottom: 130px;
	width: 25%;
	height: 25%;
}

@media screen and (max-width: 1800px) {
	#logo2{
	text-align: center;
    float: none;
    left: 518px;
    bottom: 98px;
	}
}

@media screen and (max-width: 1400px) {
	#logo2{
	text-align: center;
    float: none;
    left: 518px;
    bottom: 60px;
	}
}

@media screen and (max-width: 1000px) {
	#logo1{
	bottom: 82px;
	}
}

@media screen and (max-width: 1000px) {
	#logo1{
	bottom: 82px;
	width: 45%;
	height: 28%;
	}
}

@media screen and (max-width: 800px) {
	#logo1{
	bottom: 52px;
	width: 45%;
	height: 18%;
	}
}

@media screen and (max-width: 1000px) {
	#logo2{
	display: none;
	}
}


/*SOL*/

#sol{
  position: fixed;
  top: 6px;
  left: 1452px;
  overflow: auto;
}
@media screen and (min-width: 2500px) {
  #sol {
    width: 100%;
    height: auto;
  }
}

/*TABLAS*/

#tablas{
	overflow-x:auto;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  }

/*BOTONES VERSION*/

.btn-success{
	background-color: white;
 color: black;
	border:0px;
}

.btn-danger{
 background-color: white;
 color: black;
 border:0px;
}

#seleccionadoAccesible {
  background-color: #005C00;
  color: white;
}

#seleccionadoInaccesible {
  background-color: #AD0000;
  color: white;
}

/*POPUP*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: white;
  color: black;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  font-size: 1.52em;
  border: 2px solid black;color: black;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  color: black;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.popup .close:hover {
	color: black;
}
.popup .ventanita {
  overflow: auto;
  color: black;
}

.close{
	color: black;
}

@media screen and (max-width: 900px){
	.popup{
    width: 100%;
    color: white;
    bottom: 96px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px){
  .popup{
    width: 90%;
    bottom: 96px;
    overflow: auto;
    color: white;
  }
}


.botonVentanita {
  color: black;
  font-size: 1.2em;
  padding: 10px;
  color: #0B5DC1;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.botonVentanita:hover {
  color: black;
  background: #06D85F;
  text-decoration: none;
}

.botonVentanita2 {
  color: black;
  font-size: 1.2em;
  padding: 10px;
  color: #0B5DC1;
  border: 2px solid #FC5F5F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.botonVentanita2:hover {
  color: black;
  background: #FC5F5F;
  text-decoration: none;
}

#parrafoBueno{
	background-color: #D9F4C3;
	color:black;
	padding: 10px;
    margin: 10px;
}

#parrafoMalo{
	background-color:#F4AEAE;
	color:black;
	padding: 10px;
    margin: 10px;
}


